---
import SignUpButton from "../components/SignUpButton.astro";
import Header from "../layouts/Header.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header />
  <main>
    <img src="" alt="" />
    <div>
      <h1>Sistema De Agendamento Que Você Sempre <span>Procurou</span></h1>
      <p>
        Tenha liberdade de cadastrar seus serviços e receber agendamentos de
        forma automática
      </p>
      <SignUpButton cadastrar="Começe Grátis" />
    </div>
  </main>
</Layout>
