---
import SignUpButton from "./SignUpButton.astro";
---

<div class="uppercase flex h-24 w-full justify-between items-center">
  <a href="/">Up Agendamento</a>
  <nav class="flex justify-center items-center gap-8">
    <a href="/services">Serviços</a>
    <a href="/price">Preço</a>
    <a href="/contact-me">Contato</a>
  </nav>
  <div>
    <a href="">Entrar</a>
    <SignUpButton cadastrar="Registrar" />
  </div>
</div>
