---
import { CalendarCheck } from "lucide-react";
import ButtonSubmit from "../components/ButtonSubmit.astro";
---

<main>
  <div class="grid grid-cols-1 lg:grid-cols-2 min-h-screen">
    <div
      class="flex justify-center lg:justify-normal bg-dark dark:bg-light text-light dark:text-dark"
    >
      <div class="lg:absolute lg:top-6 lg:left-6 flex items-center gap-4">
        <CalendarCheck className="w-12 h-12" />
        <h1 class="lg:text-3xl text-xl font-bold tracking-tight">
          Up Agendamento
        </h1>
      </div>
    </div>
    <div
      class="flex gap-4 items-center justify-center bg-light p-6 dark:bg-dark text-dark dark:text-light"
    >
      <form class="flex flex-col gap-4" action="" method="post">
        <div class="flex flex-col gap-1">
          <label class="" for="email">Email</label>
          <input
            class="p-2 border-spacing-1 rounded-sm text-dark"
            id="email"
            type="email"
            placeholder=""
          />
        </div>
        <div class="flex flex-col gap-1">
          <label for="password">Senha</label>
          <input
            class="p-2 border-spacing-1 rounded-sm text-dark"
            id="password"
            type="password"
          />
        </div>

        <ButtonSubmit textButton="Login" />
      </form>
    </div>
  </div>
</main>

<script>
  document.querySelector("form").addEventListener("submit", async (event) => {
    event.preventDefault();

    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;

    const response = await fetch(
      "https://dp7yszchnf.execute-api.us-east-2.amazonaws.com/dev/singin",
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ email, password }),
      }
    );

    if (response.ok) {
      const data = await response.json();
      console.log(data);
      sessionStorage.setItem("token", data.token);
      sessionStorage.setItem("user", JSON.stringify(data.user));
      // Redirect or update UI as needed
    } else {
      // Handle error
      console.error("Login failed");
    }
  });
</script>
