---
import { CalendarCheck } from "lucide-react";
---

<main>
  <div class="grid grid-cols-2 min-h-screen">
    <div
      class="flex gap-4 items-start bg-light p-6 dark:bg-dark text-dark dark:text-light"
    >
      <CalendarCheck className="w-12 h-12" />
      <h1 class="text-3xl">Up Agendamento</h1>
    </div>
    <div
      class="flex gap-4 items-center justify-center bg-dark p-6 dark:bg-light text-light dark:text-dark"
    >
      <form class="flex flex-col" action="">
        <label for="">Nome</label>
        <input type="text" />
        <label for="">Nome</label>
        <input type="text" />
      </form>
    </div>
  </div>
</main>
